*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
}

body > h1 {
    margin: 1em 0;
    border-bottom: 2px solid gray;
    padding: 1em;
}

/* section.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, mimax(300px, 1fr));
    gap: 5px;
}

section.grid article{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 1em;
} */

section.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 1em;
}

section.grid article{
    flex: 0 1 300px;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 8px;
}

section.grid article > * {
    margin: .8em 0;
}

#filtros {
    margin-bottom: 20px;
  }
  
  .livro {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    background-color: #f9f9f9;
    transition: background 0.3s;
  }
  
  .livro.lido {
    background-color: #d4edda;
    text-decoration: line-through;
  }
  
  button {
    margin-right: 8px;
    margin-top: 10px;
  }